.ActionTab{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 17%;
}

ul{
    margin-bottom: 0px;
}

li[data-id="nav"]{
    display: inline-block;
    position: relative;
    color: white;
    font-size: 17px;
    cursor: pointer;
    padding-left: 3em;
    transition: color 0.4s all ease;
}

li[data-id="nav"]:hover{
    color: white;

}

li[data-id="nav"]::after{
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 4px;
    bottom: -10px;
    left: 2.3em;
    background-color: white;
    transform-origin: bottom right;
    transition: 0.5s ease-out;
}

li[data-id="nav"]:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

li[data-id="nav"].active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

li[data-id="nav"].active{
    font-weight: bold;
}

hr{
    width: 100%;
}