.content{
    border-radius: 5px;
    background-color: rgba(59, 58, 58, 0.75);
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    padding: 10px;
    min-height: 500px;
    margin-bottom: 200px;
}

.spacer{
    height: 50px;
}

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
  }

body{
    background-image: url(../../public/CharacterListDashboardImg/background.png);
    background-repeat: no-repeat;
    background-size: cover; /* makes the image cover the entire background */

}