// Neutrals
$neutral-900: #000;
$neutral-800: #0e0b0b;
$neutral-700: #4c4637;
$neutral-600: #3f4e5f;
$neutral-500: #7f8c8d;
$neutral-400: #a6a5a5;
$neutral-300: #b0b9bf;
$neutral-200: #d1dadf;
$neutral-100: #e2eaee;
$neutral-50: #ccc;
$neutral-0: #ffffff;

$gray-400: #1b1a1a;
$gray-200: #3b3a3a;

$blue-400: #4d5fc4;
$blue-300: #2cbbd8;

$gold-0: #ffd700;

$red-200: #e33838;
