.content{
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100vw;
}
.menu{
  padding-left: 50px;
  padding-top: 50px;
    color: white;
    cursor: pointer;
}
.navbar {
  position: absolute;
  display: flexbox;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  background: rgba(17, 34, 56, 0.75);
  height: 100%;
  width: 15%;
  transition: right 0.5s ease-in;
  z-index: 1;
}

.bar{
  display: flex;
  position: relative;
  margin: 5%;
  margin-bottom: 10px;
}
  
.tsChoice{
  color: white;
    margin: 30px;
    margin-bottom: 0%;
    cursor: pointer;
}

  .my-hr {
    position: relative;
    background-color: white;
    height: 1px;
    width: 100vw;
    margin-left: 5%;
    margin-bottom: 10px;
    color: white;
  }
  
  .baseBox{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(59, 58, 58, 0.8);
    margin-left: 5%;
    margin-right: 5%;
    width: 1350px;
    height: 500px;
    mix-blend-mode: normal;
    border-radius: 5px;
    gap: 0px;
  }
  .option{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 1%;
    height: 10%;
    width: 100%;
    background: #253A53;
    gap: 10px;
    cursor: pointer;
  }