.filterbox{
    position: absolute;
    top: 8%;
    left: 100%;
    margin-left: 20px;
    height: 46px;
    width: 920px;
    border-radius: 5px;
    background-color: rgba(35,34,34, 0.85);

}
.vertical{
    border-left: 1px solid white;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;
}

.table{
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-left: 0px;
}

ul [data-id = 'filter']{
    display: flex;
    justify-content: center;
    align-items: center;
  }