.path{
    display: grid;
    grid-template-columns: 50px 1fr; /* Adjust the number of columns as needed */
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: white;
    background-color: rgba(27, 26, 26, .9);
    border-radius: 5px;
    padding: 3px 10px 3px 5px;
    margin: 10px 0 10px 0;
}
