.relic-OrnanemtItem{
    position: relative;
    top: 80px;
    padding: 30px 30px 30px 30px;
    background-color: rgba(27, 26, 26, 0.7);
    min-height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 150px 1fr ; /* Adjust the number of columns as needed */
    justify-content: center;
    border-radius: 7px;
}

.picture{
    width: 100px; /* Specify the desired width */
    height: auto;
    padding: 20px 20px 20px 20px;
}

.relic-OrnanemtName{
    color: whitesmoke;
    font-weight: 600;
    font-size: 18px;
}

.relic-OrnanemtDetails{
    display: grid;
    grid-template-columns: 50px 1fr ;
}

.relic-Ornanemt-Detail{
    color: gold;
    background-color: rgb(14, 11, 11);
    width: 20px;
    height: 25px;
    padding: 5px;
    text-align: center;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

.relic-OrnanemtDesc{
    color: white;
    padding: 15px 5px 15px 5px;
}