.Search {
  margin-top: 0;
  background-image: url(../../../public/CharacterListDashboardImg/magnifying-glass.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 10px 2px 8px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
  border: none;
  outline: none;
  font-family: DIN;
  &:focus {
    outline: none;
  }
}
