.team{
    display: flex;
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 70px;
    width: 1350px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    color: black;
    border-style: solid;
    background-color: white;
    height: 55px;
    width: 100px;
    border-radius: 5px;
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}