.nav{
    position: absolute;
    display: flexbox;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background: rgba(17, 34, 56, 0.75);
    height: 100%;
    width: 15%;
    transition: right 0.5s ease-in;
    z-index: 1;
}

.option{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 1%;
    height: 10%;
    width: 100%;
    background: #253A53;
    gap: 10px;
    cursor: pointer;
  }